progressbar2
pyarrow
requests
pgvector
SQLAlchemy
psycopg2
sshtunnel
pandas
tqdm
numpy
openai
langchain-openai==0.1.8
langchain-aws
langchain-google-genai 
langchain-community
python-dotenv==1.0.1
fastapi==0.111.0
llama-index==0.10.46
llama-index-llms-bedrock
hdbscan
redis
celery
botocore
keybert[spacy]
keyphrase-vectorizers
weaviate-client
